<div dir="rtl">
    <div class="filter">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event)" placeholder="הקלד לחיפוש  " #input class="searchInput"
                [(ngModel)]="value" autofocus >
        </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef class="title" sortActionDescription="Sort by number">No.</th>
                <td mat-cell *matCellDef="let element"> {{element.no}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="title" mat-sort-header>שם</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef class="title" mat-sort-header
                    sortActionDescription="Sort by phone">טלפון</th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef class="title" mat-sort-header
                    sortActionDescription="Sort by address">כתובת</th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>
            <ng-container matColumnDef="remarks">
                <th mat-header-cell *matHeaderCellDef class="title" mat-sort-header
                    sortActionDescription="Sort by date">הערות</th>
                <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
            </ng-container>
            <ng-container matColumnDef="securityCheck">
                <th mat-header-cell *matHeaderCellDef class="title" sortActionDescription="Sort by securityCheck">צ'ק
                    פקדון</th>
                <td mat-cell *matCellDef="let element">
                    {{element.securityCheck}} </td>
            </ng-container>
            <ng-container matColumnDef="payment">
                <th mat-header-cell *matHeaderCellDef class="title" mat-sort-header
                    sortActionDescription="Sort by payment">תשלום</th>
                <td mat-cell *matCellDef="let element"> {{element.payment}} </td>
            </ng-container>
            <ng-container matColumnDef="loanDate">
                <th mat-header-cell *matHeaderCellDef class="title" mat-sort-header
                    sortActionDescription="Sort by loanDate">תאריך השאלה</th>
                <td mat-cell *matCellDef="let element"> {{element.loanDate | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef class="title">סיום השאלה</th>
                <td mat-cell *matCellDef="let element" class="iconWidth">
                    <button mat-icon-button class="rowIcons" (click)="openDialog(element)" *ngIf="element.isLoan">
                        <mat-icon>assignment_returned</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="bagColor">
                <th mat-header-cell *matHeaderCellDef class="title iconWidth">צבע מזוודה</th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon [ngStyle]="{'color': getIconColor(element.bagColor)}">luggage</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; " [ngClass]="{'make-gold': !row.isLoan }"></tr>
            <!-- <tr mat-footer-row *matFooterRowDef="tableFooterColumns"></tr> -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell not-found" colspan="8">אין נתונים התואמים לחיפוש "{{input.value}}"</td>
            </tr>
        </table>

        <div class="custom-paginator">
            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
            <div class="total-amount"> סה"כ: {{total}} ₪</div>
        </div>
    </div>
</div>