table td,
th {
  text-align: center;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  text-align: center !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bigFont {
  line-height: 60px;
  text-align: center;
}

.bigFont:hover {
  font-size: 60px;
  color: #f90c9a;
  transition: all 0.3s ease-in-out;
}

.title {
  text-align: center !important;
  background-color: #929eaa4a;
  color: hsl(222deg 100% 62%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon {
  color: #f90c9a;
  display: contents !important;
}

.rowIcons {
  color: rgba(29, 16, 16, 0.493);
}

.iconWidth {
  width: 15px;
}

.make-gold {
  background-color: rgb(209, 221, 225)
}

.custom-paginator {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
  flex-direction: row-reverse;
}

.total-amount {
  font-weight: bold;
  color: #f90c9a;
  font-size: 15px;
  margin-right: 50%;
}

.name-cell {
  position: relative;
  padding: 0 24px 0 0 !important;
}

.name-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.client-name {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.history-button {
  position: absolute;
  right: -7px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  color: #f90c9a;
  font-size: 18px;
  font-weight: 800;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.history-button:hover {
  color: hsl(222deg 100% 62%);
  transform: translateY(-50%) scale(1.2);
}