<!-- <div class="login"> -->
    <!-- <div class="form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label class="password">הכנס שם משתמש</mat-label>
        <input matInput type="text" 
        [(ngModel)]="userName" (keydown.enter)="enter($event)">
         <button mat-icon-button matSuffix (click)="hide = !hide" 
        [attr.aria-label]="'Hide userName'"
          [attr.aria-pressed]="hide"> -->
          <!-- <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
        <!-- </button> -->
      <!-- </mat-form-field> -->
  <!-- <tr></tr><div class=""></div> -->
      <!-- <mat-form-.field class="example-full-width" appearance="fill"> -->
        <!-- <mat-label class="password">הכנס ססמה</mat-label> -->
        <!-- <input matInput [type]="hide ? 'password' : 'text'" 
        [(ngModel)]="password" (keydown.enter)="enter($event)">
        <button mat-icon-button matSuffix (click)="hide = !hide" 
        [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field> -->
      <!-- <div class="btn">
        <button type="submit" mat-button class="color" (click)="enter($event)">כניסה</button>
      </div>
      <mat-lable *ngIf="error" class="err">🙄אחד או יותר מהפרטים המזהים שהקלדת שגוי</mat-lable> -->
      <!-- <mat-lable *ngIf="userNameError" class="err">🙄שם משתמש שגוי</mat-lable>
      <mat-lable *ngIf="passAndUserError" class="err">🙄שם משתמש וססמה שגויים</mat-lable> -->
  
    <!-- </div> --> 
  