.header {
  text-align: -webkit-center;
  margin-top: 25px;
}

.title {
  font-size: xx-large;
  color: hsl(222deg 100% 62%);
  font-weight: bolder;
  animation: blinker 1.7s linear infinite;
  animation-iteration-count: 3;
  margin-left: 10px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.title2 {
  font-size: small;
  color: hsl(222deg 100% 62%);
}

.title3 {
  color: #f90c9a;
  font-size: large;
}

.btn {
  background-color: #f90c9ada;
  z-index: 1000;
  color: white;
}

.btn mat-icon {
  color: white;
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
}

.chartBtn {
  background-color: #f90c9ada;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 52px;
  width: 50px;
  height: 60px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  color: white;
  border: none;
  font-size: 16px;
  transition: width 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chartBtn:hover {
  width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.139);
}

.chartBtn mat-icon {
  font-size: 30px;
  color: white;
  margin-left: 5px;
  transition: margin-left 4.3s ease;
}

.chartBtn:hover mat-icon {
  margin-left: 0;
  margin-right: 10px;
}


.title4 {
  font-weight: bold;
  font-size: 18px;
  color: white;
  display: none;
  margin-right: 3px;
}

.chartBtn:hover .title4 {
  display: inline-block;
  margin-left: 10px;
  transition: margin-left 4.6s ease;
}

.chartBtn:hover {
  justify-content: flex-start;
}