.color {
    color: #f90c9ada !important;
}

.title {
    font-size: x-large;
    color: #f90c9ada;
    font-weight: 700;
}

.direction {
    direction: rtl;
    text-align-last: center;
}

.dialog {
    text-align: -webkit-center;
    width: 375px;
    height: 167px;
}