.form {
    text-align: -webkit-center;
    width: 500px;
    height: 280px;
}

.title {
    font-size: x-large;
    color: #f90c9ada;
}

.td {
    margin-right: 10px;
    margin-top: 10px;
    text-align: right;
    width: 225px;
}

.direction {
    direction: rtl;
    text-align-last: center;
}

.color {
    color: #f90c9ada !important;
}

.sum {
    width: 100px;
    margin-right: 10px;
}

.posi {
    width: 160px;
}

.title2 {
    font-size: x-large;
    color: #f90c9ada;
    font-weight: 700;
}